@*import the model in order to use the calculator property*@
@model AshLoan.Models.Calculator

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
@*Math calculation to get a monthly payment;*@
<div class="container jumbotron h1">Monthly Payment & Total Cost</div>
<div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="h2 strong">Total cost($)</p><br/>
        <p class="h3 strong">@Model.total</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">

        <p class="h2 strong">Payment/Month($)</p><br/>
        <p class="h3 strong">@Model.payment</p>
    </div>
    @Html.ActionLink("Try again","Loan", new{@class="text-danger:hover"})

</div>
<hr/>
</body>
</html>
