@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Final</h1>
    <p class="lead">Having some fun</p>
    <input id="check" type="submit" class="btn btn-success" value="check script" />
</div>
<div id="show"></div>
    @section MyScripts
{
        <script src="~/Scripts/MyScripts.js"></script>
    }
