@model IEnumerable<FinalEx.Models.Genre>

@{
    ViewBag.Title = "ShowGenres";
}

<h2>ShowGenres</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
    </tr>
}

</table>
