@using System.Collections.Specialized
<!DOCTYPE html>
<html>
<head>
    @{
        ViewBag.Title = "Research Stocks";
    }
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Research Stocks</h2>

    <form id="sform">
        <label for="stockT">Type a stock symbol</label>
        <br />
        <input id="ticker" type="text" name="Name" />
        <br />
        <br />
        <input id="research" value="View Chart" type="submit" class="btn btn-success btn-sm">
        <input id="browse" value="History Data" type="submit" class="btn btn-success btn-sm">
        <input id="volume" value="see Volume" type="submit" class="btn btn-success btn-sm">
</form><hr /><br />

        <div id="validation" style="width:100%"></div>
        <div id="show" style="width:100%"></div>
  



    @section myScripts
    {
        <script src="~/Scripts/MyJavaScript.js"></script>
    }

    @section dygraphs
    {
        <script src="~/Scripts/dygraph-combined.js"></script>
    }
    @section dygraphdev
    {
        <script src="~/Scripts/dygraph-combined-dev.js"></script>
        
    }
    


</body>

</html>







