@model AdventureTx.Models.ProductReview
    <h2 class="text-danger">Hi! @Model.ReviewerName. Thanks for taking the time to write the review!</h2>
@Html.ActionLink("Back to Homepage","Index", new { @class="text-success"})
