@{
    ViewBag.Title = "Welcome to Pirate World";
}

<br>
<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <strong class="h1" > Welcome to Pirate World</strong>
    </div>
</div>
<br>
<div class="container">
    
    <div id="pirate" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <img src="~/Content/img/pirate.jpg" />
    </div>
    <div id="bootyDiv" class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>

</div>
@section MyScripts
{
    <script src="~/Scripts/MyScripts.js"></script>
}
