@model Adventure14.Models.ProductReview

@{
    ViewBag.Title = "Thanks";
}

<h2>Hi, @Model.ReviewerName, Thanks for the review! </h2>
<br/>
<div class="container"> @Html.ActionLink("back to home","Index")</div>